[submodule "Dependencies/libigl"]
	path = Dependencies/libigl
	url = https://github.com/ithron/libigl.git
  branch = hunterization-eigen3.3-ply-patch
  shallow = true
  fetchRecurseSubmodules = false
[submodule "Dependencies/GSL"]
	path = Dependencies/GSL
	url = https://github.com/ithron/GSL.git
