[submodule "Dependencies/libigl"]
	path = Dependencies/libigl
	url = https://github.com/ithron/libigl.git
  branch = hunterization-eigen3.3-ply-patch
  shallow = true
  fetchRecurseSubmodules = false
[submodule "Dependencies/ImageStack"]
	path = Dependencies/ImageStack
	url = https://891bc7a4ef6b9320d34955d5e2180a89c0b65bc0@github.com/ithron/ImageStack.git
[submodule "Dependencies/yaml-cpp"]
	path = Dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Dependencies/Microsoft.GSL"]
	path = Dependencies/Microsoft.GSL
	url = https://github.com/ithron/GSL.git
  branch = hunterization
  shallow = true
